body{
    background-color:#F2F1F4 ;
}
header
{
    text-align: center;
    margin-top: 75px;
    margin: 25px;
}
.logo-crea
{
    width: 520px;
}

nav a {
    display:block;
    color: white;
    padding: 12px;
    font-size: 1.6rem;
    font-family: "PT sans Narrow";
    text-decoration: none;
    background-color: #30A894;
}

nav
{
    background-color:#30A894 ;
}